@page "/"
@inject GroupService DataGroupService

<PageTitle>Group</PageTitle>

<div class="container">
    <div class="row">
        <h3>Group</h3>
        <div class="col-md-6">
            <Dropdown TItem="Group"
                      Items="@Items"
                      DisplayProperty="@(item => item.GroupName)"
                      SelectedItem="@SelectedItem"
                      SelectedItemChanged="OnItemSelected">
            </Dropdown>
        </div>
        <div class="col-md-6">
            <DatePicker @bind-SelectedDate="SelectedDate" DateFormat="Y-m-d" OnDateChanged="HandleDateChange" />

            @{
                if (SelectedDate.HasValue)
                {
                    <p>Selected Date: @SelectedDate.Value.ToString("yyyy-MM-dd")</p>
                }

            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            @{
                if (SelectedItem != null)
                {
                    <QuickGrid TGridItem="Group" Items="@(new List<Group> { SelectedItem }.AsQueryable())" Class="table table-striped table-hover">
                        @{
                            foreach (var prop in typeof(Group).GetProperties())
                            {
                                var displayName = prop.GetCustomAttribute<DisplayAttribute>()?.Name ?? prop.Name;
                                <PropertyColumn Property="@(item => prop.GetValue(item))" Title="@(displayName)" />
                            }

                        }
                    </QuickGrid>
                }
                else
                {
                    <p>No Item Selected</p>
                }
            }
        </div>
    </div>
</div>